$libre:"Libre Baskerville",sans-serif;
$nunito:"Nunito",sans-serif;
.reviewsContainer{
    margin-top: 100px;
}
.reviewsNavigation{
    display: flex;
    align-items: center;
    color: white !important;
    font-family: $nunito !important;
    font-weight: 600 !important;
    opacity: 0.8;
}
.specialBorder{
    border-bottom: 3px solid #0259EB;
     padding-bottom: 8px;

}
.reviewsHeader{
    color: white !important;
    font-family: $libre !important;
   
}
.reviewsCardContainer{
   margin-top: 50px !important;
}
.reviewsProfileBox{
    display: flex;
    align-items: center;
}
.reviewsProfileHeadBox{
    margin-left: 15px;
}
.reviewsCard{
    border-radius: 5px !important;
    background: #0A0B1A !important;
    border: 1px solid #E5AF56;
    padding: 12px;
    margin-left: -5px !important;
}
.reviewsProfileTitle{
    color: white;
    font-family: $libre;
    font-weight: 700 !important;
    
}
.reviewsProfileCaption{
    color: #E5C558;
    font-size: 11px !important;
    font-family: $nunito;

}
.reviewsProfileInfo{
    color: white;
    font-family: $nunito;
    margin-top: 15px !important;
}
.reviewsCardBox{
    border-radius: 10px !important;
    border-right: 7px solid #276C73;
    border-top: 7px solid #5293E8;
}