body{
    background:-webkit-linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%),url('../../assets/dashboardAssets/dashBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}
